html {
	font-family: 'Merriweather', serif;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

h1 {
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	background-color: #d05c2e;
	display: block;
	padding: 15px;
	margin: 0em;
}

.grain-l {
	float: left;
	width: 45px;
	margin-top: 15px;
}

.grain-r {
	float:right;
	width: 45px;
	margin-top: 15px;
}

nav {
	background-color: #d05c2e;
	text-align: center;
}

nav ol {
	margin: 0em;
	padding: 0em;
	list-style: none;
}

nav li {
	display: inline;
	width: 33.333%;
	float: left;
	border: 1px solid #a93f35;
}

nav a {
	display: block;
	padding: 0.5em;
	text-decoration: none;
	color: white;
	background-color: #d05c2e;
}

nav a:hover {
	background-color: #a93f35;
	margin: 0em;
}

p {
	font-size: 1em;
	line-height: 1.5em;
	margin: 10px;
	margin-top: 3.5em;
}

.grains {
	float: left;
	width: 40%;
	margin-left: 10px;
	margin-right: 5px;
}

.p2 {
	clear: left;
	margin-top: 1em;
}

.inset {
	float: right;
	width: 40%;
	margin-top: 5px;
	padding-top: 5px;
	margin-right: 10px;
	margin-left: 5px;
}

.clear-it{
	width: 40%;
	clear: right;
	margin-right: 10px;
	margin-left: 5px;
}

h2 {
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	background-color: #d05c2e;
	display: block;
	padding: 20px;
	margin: 0em;
}

figure {
	margin: 0px;
}

figcaption {
	margin: 0;
	padding: 0;
	font-size: .9em;
	font-style: italic;
	text-align: center;
}

.fig-rice {
	clear: left;
	float: right;
	margin: 0em;
}

.fig-oats {
	clear: left;
	margin: 0em;
}

.corn {
	width: 100%;
	float: left;
}
 .rice {
 	width: 45%;
 	clear: right;
 }

.oats {
	width: 45%;
	float: right;
}

aside {
	display: block;
	background-color: #d05c2e;
}

aside p {
	color: #fff;
	font-size: 1em;
	padding: 1em;
	text-align: center;
	margin: 0;
}
