html {
	font-family: 'Merriweather', serif;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

h1 {
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	background-color: #d05c2e;
	display: block;
	padding: 15px;
	margin: 0em;
}

.grain-l {
	float: left;
	width: 45px;
	margin-top: 15px;
}

.grain-r {
	float:right;
	width: 45px;
	margin-top: 15px;
}

nav {
	background-color: #d05c2e;
	text-align: center;
}

nav ol {
	margin: 0em;
	padding: 0em;
	list-style: none;
}

nav li {
	display: inline;
	width: 33.333%;
	float: left;
	border: 1px solid #a93f35;
	background-color: #d05c2e;
	padding: 0;
	margin: 0;
}

nav a {
	display: block;
	text-decoration: none;
	color: white;
	background-color: #d05c2e;
	padding: 0.5em;
	margin: 0;
}

nav a:hover {
	background-color: #a93f35;
}

p {
	line-height: 1.5em;
	margin: 10px;
	margin-top: 3.5em;
	margin-bottom: 1em;
}

.grains {
	float: left;
	width: 40%;
	margin-left: 10px;
	margin-right: 5px;
}

.p2 {
	clear: left;
	margin-top: 1em;
}

.inset {
	float: right;
	width: 40%;
	margin-top: 5px;
	padding-top: 5px;
	margin-right: 10px;
	margin-left: 5px;
}

.clear-it{
	width: 40%;
	clear: right;
	margin-right: 10px;
	margin-left: 5px;
	margin-bottom: 10px;
}

h2 {
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	background-color: #dc8252;
	display: block;
	padding: 20px;
	margin: 0em;
	clear: both;
}

h2 p{
	margin: 0px;
}

.corn {
	width: 100%;
	float: left;
}

.fig-corn {
	padding-bottom: 1.5em;
	font-size: .9em;
	font-style: italic;
	text-align: center;
	background-color: #dc8252;
	color: white;
	margin: 0;
}

 .rice, .oats {
 	display: inline;
 	width: 50%;
 	float: left;
 	margin: 0;
 }

 .fig-rice, .fig-oats {
 	display: inline;
 	width: 50%;
 	padding-bottom: 1.5em;
	font-size: .9em;
	font-style: italic;
	text-align: center;
	background-color: #dc8252;
	color: white;
	margin: 0;
}

.fig-oats {
	padding-left: 4em;
	padding-right: 4.5em;
	float: right;
}

.fig-rice {
	padding-left: 4.5em;
	padding-right: 4em;
	float: left;
}

h3 {
	font-size: 1.5em;
	font-weight: bolder;
	text-align: center;
	display: block;
	padding: 1em;
	margin: 0;
	clear: both;
}

span {
	font-weight: bold;
}

ul {
	margin: 0;
	padding: 0;
	font-style: italic;
	font-size: 0.8em;
	display: inline;
	list-style: none;
}

ul li {
	margin: 0 1em 0 0;
	overflow: hidden;
}

.peanuts, .beans, .lentils {
	float: left;
	width: 20%;
	margin-left: 10px;
	margin-right: 5px;
	margin-bottom: 20px;
}

.beans {
	clear: left;
}

.lentils {
	clear: left;
}


aside {
	display: block;
	background-color: #d05c2e;
	clear: both;
}

aside p {
	color: #e0a998;
	font-size: 1em;
	padding: 15px;
	text-align: center;
	margin: 0;
}
